:root {
    // Палитра цветов
    --color-base-strong: #000;
    --color-base-weak: #ccc;
    --color-faint-strong: #737171;
    --color-faint-weak: #adacac;
    --color-accent-strong: #02099d;
    --color-accent-weak: #6d98f8;
    --color-complement-strong: #5f35dc;
    --color-complement-weak: #b9aaf5;
    --color-critic-strong: #f00;
    --color-critic-weak: #ff9797;
    --color-warning-strong: #f8951c;
    --color-warning-weak: #f6c58e;
    --color-success-strong: #009403;
    --color-success-weak: #abffad;
}
