// ЭТО ФАЙЛ С ГЛОБАЛЬНЫМИ СТИЛЯМИ, КОТОРЫЕ РАСПРОСТРАНЯЮТСЯ НА ВСЕ ПРИЛОЖЕНИЕ
@import "reset";
@import "fonts";
@import "colors";
@import "layout";

.app {
    background: gray;
}

.content-page {
    display: flex;
    justify-content: center;
}
