.EmployeeDetailsView {

}

.avatar {
    width: 150px;
    height: 150px;
}

.surname {
    font-size: 30px;
    font-weight: bold;
}

.name {
    font-size: 20px;
}

.certificates_title {
    font-size: 30px;
    font-weight: bold;
    color: gray;
    padding-top: 16px;
}

.certificate {
    width: 300px;
}
