.title {
    color: var(--color-base-strong);
}

.text {
    color: var(--color-base-strong);
}

.base {
    .title {
        color: var(--color-base-strong);
    }

    .text {
        color: var(--color-base-strong);
    }
}

.faint {
    .title {
        color: var(--color-faint-strong);
    }

    .text {
        color: var(--color-faint-strong);
    }
}

.accent {
    .title {
        color: var(--color-accent-strong);
    }

    .text {
        color: var(--color-accent-strong);
    }
}

.complement {
    .title {
        color: var(--color-complement-strong);
    }

    .text {
        color: var(--color-complement-strong);
    }
}

.critic {
    .title {
        color: var(--color-critic-strong);
    }

    .text {
        color: var(--color-critic-strong);
    }
}

.warning {
    .title {
        color: var(--color-warning-strong);
    }

    .text {
        color: var(--color-warning-strong);
    }
}

.success {
    .title {
        color: var(--color-success-strong);
    }

    .text {
        color: var(--color-success-strong);
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.size_xs {
    .title {
        font: var(--font-s);
    }

    .text {
        font: var(--font-xs);
    }
}

.size_s {
    .title {
        font: var(--font-m);
    }

    .text {
        font: var(--font-s);
    }
}

.size_m {
    .title {
        font: var(--font-l);
    }

    .text {
        font: var(--font-m);
    }
}

.size_l {
    .title {
        font: var(--font-xl);
    }

    .text {
        font: var(--font-l);
    }
}

.bold {
    .title, .text {
        font-weight: 700;
    }
}
