.EmployeeCard {
    // width: 230px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.photo {
    display: block;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border: 1px solid lightgray;
}

.surname {
    font-weight: bold;
}
