.InputWrapper {
    display: flex;
    align-items: center;
    border-radius: 48px;
    padding: 8px 16px;
    border: 1px solid var(--color-base-weak);
    width: 100%;
}

.s {
    height: 32px;
}

.m {
    height: 38px;
}

.l {
    height: 44px;
}

.addonLeft, .addonRight {
    display: flex;
}

.withAddonLeft {
    padding-left: 8px;
}

.withAddonRight {
    padding-right: 8px;
}

.focused {
    border: 1px solid var(--color-accent-strong);

    .addonLeft svg, .addonRight svg {
        color: var(--color-accent-strong);
    }
}

.input {
    border: none;
    outline: none;
    width: 100%;
    color: var(--color-base-strong);
    background: none;

    &::placeholder {
        color: var(--color-base-weak);
    }
}


.readonly {
    opacity: 0.7;
}
